<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link
        href="https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap"
        rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Kelly+Slab&display=swap" rel="stylesheet">
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.0/css/all.min.css" rel="stylesheet">
    <link rel="icon" href="images/icons/iconHomePage.ico" type="image/x-icon">
    <title>ADMINISTRADOR</title>

    <link rel="stylesheet" href="styles/admPage-styles/adm-mobile.css">
    <link rel="stylesheet" href="styles/admPage-styles/adm-tablet.css">
    <link rel="stylesheet" href="styles/admPage-styles/adm-desk.css">
</head>

<body>
    <header>
        <section class="header-container">
            <span class="voltar"><a href="/"><i class="fa-solid fa-caret-left"></i> Voltar</a> </span>
            <p class="logo">

                <span style="color: #EBA742;">Master</span>Chedd
            </p>
        </section>
        <section class="perfil">

            <section class=icon>

                <% if (logado) { %>

                    <% if (user.icone==null) { %>
                        <img class="profile-image" src="images/icons/iconPerfilDefault.png" alt="Avatar">

                        <% } else { %>
                            <img class="profile-image" src="uploads/user/<%= user.icone %>" alt="Avatar">
                            <% } %>
            </section>
            <section class="name">

                <% if (logado && user.cargo=='admin' ) { %>
                    <div class="nome-cargo">

                        <p>
                            <%= user.nome %>
                        </p>
                        <img src="images/icons/badgeAdm.png" alt="Admin" style="width: 15px;">
                    </div>
                    <div class="email">

                        <p>
                            <%= user.email %>
                        </p>
                    </div>

                    <% } %>

                        <% } %>
            </section>
        </section>

        <nav>
            <p class="nav-title">Gerenciamento</p>
            <button class="nav-btn" data-target="container-1">Eventos</button>
            <button class="nav-btn" data-target="container-2">Pratos</button>
            <button class="nav-btn" data-target="container-3">Menu Diario</button>
            <button class="nav-btn" data-target="container-4">Pedidos</button>
            <button class="nav-btn" data-target="container-5">Administrador</button>
        </nav>
    </header>


    <main>

        <section class="container container-1">
            <section>
                <section class="titulo">
                    <h2>Gerenciar Eventos</h2>
                </section>

                <section class="form-buttons">
                    <button class="form-btn" data-target="form-adicionar-eventos">Adicionar </button>
                    <button class="form-btn" data-target="form-editar-eventos">Editar</button>
                    <button class="form-btn" data-target="form-remover-eventos">Remover</button>
                </section>
            </section>

            <section id="form-adicionar-eventos" class="form">

                <form action="/criar-evento" method="POST" enctype="multipart/form-data">
                    <h3>Adicionar Eventos</h3>

                    <label for="nome">Nome</label>
                    <input type="text" id="nome" name="nome" placeholder="Nome do Evento">

                    <section class="data-horario">

                        <section>
                            <label for="data">Data</label>
                            <input type="date" id="data" name="data" placeholder="Data do Evento">
                        </section>

                        <section>
                            <label for="horario">Horario</label>
                            <input type="time" id="horario" name="horario" placeholder="Horario do evento">
                        </section>
                    </section>

                    <section class="banner">

                        <input type="file" id="banner" name="file">
                    </section>

                    <button>Criar Evento</button>
                </form>

            </section>

            <section id="form-editar-eventos" class="form">

                <form action="/editar-evento" method="POST" enctype="multipart/form-data">
                    <h3>Editar Eventos</h3>

                    <label for="idevento">ID do Evento</label>
                    <input type="number" id="idevento" name="idevento" placeholder="ID do Evento a ser editado">

                    <label for="nome">Nome</label>
                    <input type="text" id="nome" name="nome" placeholder="Nome do Evento">

                    <section class="data-horario">

                        <section>
                            <label for="data">Data</label>
                            <input type="date" id="data" name="data" placeholder="Data do Evento">
                        </section>

                        <section>
                            <label for="horario">Horario</label>
                            <input type="time" id="horario" name="horario" placeholder="Horario do evento">
                        </section>
                    </section>

                    <section class="banner">

                        <input type="file" id="banner" name="file">
                    </section>

                    <button>Editar evento</button>
                </form>

            </section>

            <section id="form-remover-eventos" class="form">

                <form action="/remover-evento" method="POST">
                    <h3>Remover Eventos</h3>

                    <label for="idevento">ID do Evento</label>
                    <input type="number" id="idevento" name="idevento" placeholder="ID do Evento a ser removido">

                    <button>Remover Evento</button>
                </form>

            </section>

            <section class="listagem">
                <section class="titulo-card">
                    <p>Listagem dos eventos</p>

                </section>
                <section class="listagem-card">

                    <% eventos.forEach(evento=> { %>

                        <section class="card-listagem">
                            <section class="card-listagem-img">
                                <img src="uploads/banner/<%= evento.banner %>" alt="Imagem do prato">
                            </section>
                            <section class="card-listagem-info">
                                <p class="info-nome">
                                    <%= evento.id %>. <%= evento.nome %>
                                </p>
                                <p class="info-desc">
                                    <%= evento.data.toLocaleDateString('pt-BR')%> - <%= evento.horario %>
                                </p>
                            </section>
                        </section>
                        <% }) %>
                </section>
            </section>

        </section>

        <section class="container container-2">
            <section>
                <section class="titulo">
                    <h2>Gerenciar Pratos </h2>
                </section>

                <section class="form-buttons">
                    <button class="form-btn" data-target="form-adicionar-pratos">Adicionar</button>
                    <button class="form-btn" data-target="form-editar-pratos">Editar</button>
                    <button class="form-btn" data-target="form-remover-pratos">Remover</button>
                </section>
            </section>

            <section id="form-adicionar-pratos" class="form">
                <form action="/adicionar-prato" method="POST" enctype="multipart/form-data">
                    <h3>Adicionar Prato</h3>
                    <label for="nome"> Nome do Prato</label>
                    <input type="text" id="nome" name="nome" placeholder="Nome do Prato">

                    <label for="descricao">Descricao</label>
                    <input type="text" id="descricao" name="descricao" placeholder="Descricao do Prato">

                    <section class="data-horario">
                        <section>

                            <label for="preco">Preco</label>
                            <input type="text" id="preco" name="preco" placeholder="Preco do Prato">

                        </section>

                        <section>
                            <label for="categoria">Categoria</label>
                            <select name="categoria" id="categoria">
                                <option value="" disabled selected>Selecionar...</option>
                                <option value="bebida">Bebida</option>
                                <option value="comida_japonesa">Comida Japonesa</option>
                                <option value="entrada">Entrada</option>
                                <option value="hamburguer">Hamburguer</option>
                                <option value="risoto">Risoto</option>
                                <option value="salada">Salada</option>
                                <option value="sobremesa">Sobremesa</option>
                                <option value="variedade">Variedade</option>
                            </select>
                        </section>


                    </section>


                    <section class="banner">

                        <input type="file" id="imagem" name="file">
                    </section>

                    <button>Criar Prato</button>
                </form>
            </section>

            <section id="form-editar-pratos" class="form">
                <form action="/editar-prato" method="POST" enctype="multipart/form-data">
                    <h3>Editar Prato</h3>
                    <section class="data-horario">
                        <section>
                            <label for="idprato">ID do Prato</label>
                            <input type="number" id="idprato" name="idprato" placeholder="ID do Prato a ser editado">
                        </section>
                        <section>
                            <label for="nome"> Nome do Prato</label>
                            <input type="text" id="nome" name="nome" placeholder="Nome do Prato">
                        </section>
                    </section>

                    <label for="descricao">Descricao</label>
                    <input type="text" id="descricao" name="descricao" placeholder="Descricao do Prato">

                    <section class="data-horario">
                        <section>

                            <label for="preco">Preco</label>
                            <input type="text" id="preco" name="preco" placeholder="Preco do Prato">

                        </section>

                        <section>
                            <label for="categoria">Categoria</label>
                            <select name="categoria" id="categoria">
                                <option value="" disabled selected>Selecionar...</option>
                                <option value="bebida">Bebida</option>
                                <option value="comida_japonesa">Comida Japonesa</option>
                                <option value="entrada">Entrada</option>
                                <option value="hamburguer">Hamburguer</option>
                                <option value="risoto">Risoto</option>
                                <option value="salada">Salada</option>
                                <option value="sobremesa">Sobremesa</option>
                                <option value="variedade">Variedade</option>
                            </select>
                        </section>


                    </section>


                    <section class="banner">

                        <input type="file" id="imagem" name="file">
                    </section>

                    <button>Editar Prato</button>
                </form>
            </section>

            <section id="form-remover-pratos" class="form">

                <form action="/remover-prato" method="POST">
                    <h3>Remover Prato</h3>
                    <label for="idprato">ID do Prato</label>
                    <input type="number" id="idprato" name="idprato" placeholder="ID do Prato a ser removido">

                    <button>Remover Prato</button>
                </form>

            </section>

            <section class="listagem">
                <section class="titulo-card">
                    <p>Listagem dos pratos</p>

                </section>
                <section class="listagem-card">

                    <% pratosMenu.forEach(prato=> { %>

                        <section class="card-listagem">
                            <section class="card-listagem-img">
                                <img src="uploads/pratos/<%= prato.imagem %>" alt="Imagem do prato">
                            </section>
                            <section class="card-listagem-info">
                                <p class="info-nome">
                                    <%= prato.id %>. <%= prato.nome %>
                                </p>
                                <p class="info-desc">
                                    <%= prato.descricao %>
                                </p>
                                <p class="info-preco">
                                    <%= prato.preco %>
                                </p>
                            </section>
                        </section>
                        <% }) %>
                </section>
            </section>

        </section>

        <section class="container container-3">
            <section>
                <section class="titulo">
                    <h2>Prato do Dia</h2>
                </section>

                <section class="form-buttons">
                    <button class="form-btn" data-target="form-adicionar-pratododia">Adicionar</button>
                    <button class="form-btn" data-target="form-remover-pratododia">Remover</button>
                </section>
            </section>

            <section id="form-adicionar-pratododia" class="form">


                <form action="/adicionar-pratododia" method="POST">
                    <h3>Definir Prato do Dia</h3>
                    <section class="pratododia">
                        <section>
                            <select name="pratododia1" id="pratododia1">
                                <option disabled selected>Selecionar...</option>
                                <% pratosMenu.forEach(prato=> { %>
                                    <option value="<%= prato.id %>">
                                        <%= prato.nome %>
                                    </option>
                                    <% }) %>
                            </select>

                            <select name="pratododia2" id="pratododia2">
                                <option disabled selected>Selecionar...</option>

                                <% pratosMenu.forEach(prato=> { %>
                                    <option value="<%= prato.id %>">
                                        <%= prato.nome %>
                                    </option>
                                    <% }) %>
                            </select>
                        </section>

                        <section>
                            <select name="pratododia3" id="pratododia3">
                                <option disabled selected>Selecionar...</option>

                                <% pratosMenu.forEach(prato=> { %>
                                    <option value="<%= prato.id %>">
                                        <%= prato.nome %>
                                    </option>
                                    <% }) %>
                            </select>

                            <select name="pratododia4" id="pratododia4">
                                <option disabled selected>Selecionar...</option>

                                <% pratosMenu.forEach(prato=> { %>
                                    <option value="<%= prato.id %>">
                                        <%= prato.nome %>
                                    </option>
                                    <% }) %>
                            </select>
                        </section>
                    </section>





                    <button>Definir Prato do Dia</button>
                </form>

            </section>

            <section id="form-remover-pratododia" class="form">

                <form action="/remover-pratododia" method="POST">
                    <h3>Remover Prato do Dia</h3>
                    <label for="iddoprato">ID do Prato</label>
                    <input type="number" id="iddoprato" name="iddoprato" placeholder="ID do prato a ser removido">

                    <button>Remover Prato do Dia</button>
                </form>

            </section>

            <section class="listagem">
                <section class="titulo-card">
                    <p>Listagem dos pratos do dia</p>

                </section>
                <section class="listagem-card">

                    <% pratoDoDia.forEach(prato=> { %>

                        <section class="card-listagem">
                            <section class="card-listagem-img">
                                <img src="uploads/pratos/<%= prato.imagem %>" alt="Imagem do prato">
                            </section>
                            <section class="card-listagem-info">
                                <p class="info-nome">
                                    <%= prato.id %>. <%= prato.nome %>
                                </p>
                                <p class="info-desc">
                                    <%= prato.descricao %>
                                </p>
                                <p class="info-preco">
                                    <%= prato.preco %>
                                </p>
                            </section>
                        </section>
                        <% }) %>
                </section>
            </section>

        </section>

        <section class="container container-4">

            <section class="listagem">
                <section class="titulo-card">
                    <p>Listagem de pedidos</p>

                </section>
                <section class="listagem-card">

                    <% usuarios.forEach(user=> { %>
                        
                        <section class="card-listagem">
                            <section class="card-listagem-img">
                                <img src="uploads/banner/<%= user.imagem %>" alt="Imagem do prato">
                            </section>
                            <section class="card-listagem-info">
                                    <% pedidos.forEach(pedido=> { %>
                                    <p class="info-nome">
                                        <%= pedido.id_prato %>. <%= pedido.nome %>
                                    </p>
                                    <% }) %>
                                    <p class="info-desc">
                                        
                                    </p>
                                </section>
                        </section>
                        <% }) %>
                </section>
            </section>

        </section>

        <section class="container container-5">

            <section>
                <section class="titulo">
                    <h2>Administrador</h2>
                </section>

                <section class="form-buttons">
                    <button class="form-btn" data-target="form-adicionar-adicionaradm">Adicionar</button>
                </section>
            </section>



            <section id="form-adicionar-adicionaradm" class="form">

                <form action="atribuir-admin" method="POST">
                    <label for="email">Email</label>
                    <input type="email" id="email" name="email" placeholder="Email do Administrador">

                    <label for="permissao">Adicionar Permissao</label>
                    <select name="permissao" id="permissao">
                        <option value="" disabled selected>Selecionar...</option>
                        <option value="admin">Admin</option>
                        <option value="">User</option>
                    </select>

                    <button>Adicionar administrador</button>
                </form>

            </section>

            <section class="listagem">
                <section class="titulo-card">
                    <p>Administradores Cadastrados</p>

                </section>
                <section class="listagem-card">

                    <% adm.forEach(adms=> { %>

                        <section class="card-listagem">
                            <section class="card-listagem-img">
                                <img src="uploads/user/<%= adms.icone %>" alt="Imagem do prato">
                            </section>
                            <section class="card-listagem-info">
                                <p class="info-nome">
                                    <%= adms.id %>. <%= adms.nome %>
                                </p>
                                <p class="info-desc">
                                    <%= adms.email %>
                                </p>
                                <p class="info-preco">
                                    Cargo: <strong>

                                        <%= adms.cargo %>
                                    </strong>
                                </p>
                            </section>
                        </section>
                        <% }) %>
                </section>
            </section>
        </section>


    </main>


    <script>
        document.addEventListener("DOMContentLoaded", () => {
            const buttons = document.querySelectorAll(".nav-btn");
            const containers = document.querySelectorAll(".container");
            const formButtons = document.querySelectorAll(".form-btn");
            const forms = document.querySelectorAll(".form");

            // Controle de containers
            buttons.forEach((button) => {
                button.addEventListener("click", () => {
                    const targetClass = button.getAttribute("data-target");

                    containers.forEach((container) => {
                        container.classList.remove("active");
                    });

                    const targetContainer = document.querySelector(`.${targetClass}`);
                    if (targetContainer) {
                        targetContainer.classList.add("active");
                    }
                });
            });

            // Controle de formulários
            formButtons.forEach((button) => {
                button.addEventListener("click", () => {
                    const targetFormId = button.getAttribute("data-target");

                    forms.forEach((form) => {
                        form.classList.remove("active");
                    });

                    const targetForm = document.getElementById(targetFormId);
                    if (targetForm) {
                        targetForm.classList.add("active");
                    }
                });
            });
        });
    </script>

</body>

</html>