<!DOCTYPE html>
<html lang="pt-BR">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link
    href="https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap"
    rel="stylesheet">
  <link href="https://fonts.googleapis.com/css2?family=Kelly+Slab&display=swap" rel="stylesheet">
  <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.0/css/all.min.css" rel="stylesheet">

  <link rel="stylesheet" href="styles/home-styles/home-mobile.css">
  <link rel="stylesheet" href="styles/home-styles/home-tablet.css">
  <link rel="stylesheet" href="styles/home-styles/home-desk.css">

  <link rel="icon" href="images/icons/iconHomePage.ico" type="image/x-icon">
  <title>MasterChedd</title>
</head>

<body>


  <header class="header-container">
    <section class="logo">
      <span style="color: #EBA742;">Master</span>Chedd
    </section>

    <!-- Menu de navegação para dispositivos móveis -->
    <div class="menu-mobile" id="mobile-menu">
      <button class="menu-toggle"><i class="fa fa-bars"></i></button> <!-- Botão de menu sanduíche -->
      <ul class="mobile-nav-list">
        <li><a href="/reserva"><i class="fa-solid fa-caret-right"></i> Fazer reserva</a></li>
        <li><a href="/sacola"><i class="fa-solid fa-caret-right"></i> Sacola</a></li>

        <% if (logado) { %>
          <li><a href="/perfil"><i class="fa-solid fa-caret-right"></i> Perfil</a></li>
          <li><a href="/deslogar"><i class="fa-solid fa-caret-right"></i> Deslogar</a></li>
          <% } else { %>
            <li><a href="/login"><i class="fa-solid fa-caret-right"></i> Login</a></li>
            <% } %>
      </ul>
    </div>

    <!-- Menu de navegação para tablets e desktops -->
    <section class="nav-bar">
      <a href="/reserva">Fazer reserva</a>
      <a href="/sacola"><i class="fa-solid fa-bag-shopping"></i></a>
      <% if (logado) { %>

        <% if (user.icone==null) { %>
          <div class="profile-icon" onclick="togglePopup()">
            <img src="images/icons/iconPerfilDefault.png" alt="Ícone do perfil">
          </div>
          <% } else { %>
            <!-- Ícone de perfil para abrir o popup -->
            <div class="profile-icon" onclick="togglePopup()">
              <img src="uploads/<%= user.icone %>" alt="Ícone do perfil">
            </div>
            <% } %>

              <% } else { %>
                <a href="/login">login</a>
                <% } %>
    </section>
  </header>


  <!-- Popup do perfil -->
  <div id="profilePopup" class="profile-popup">
    <div class="popup-header">
      <span><a href="/perfil">Perfil <i class="fa-solid fa-caret-right"></i></a> </span>
      <span class="close-btn2"> <a onclick="togglePopup()"><i class="fa-solid fa-xmark"></i></a></span>
    </div>

    <div class="profile-content">
      <div class="profile-info">
        <% if (logado) { %>

          <% if (user.icone==null) { %>
            <img class="profile-image" src="images/icons/iconPerfilDefault.png" alt="Avatar">

            <% } else { %>
              <img class="profile-image" src="uploads/<%= user.icone %>" alt="Avatar">
              <% } %>

                <% if (logado && user.cargo=='admin' ) { %>
                  <div>
                    <p>
                      <%= user.nome %>
                    </p><img src="images/icons/badgeAdm.png" alt="Admin" style="width: 15px;">
                  </div>
                  <% } else { %>
                    <p>
                      <%= user.nome %>
                    </p>
                    <% } %>

                      <% } else { %>
                        <img class="profile-image" src="https://cdn-icons-png.flaticon.com/512/3135/3135823.png"
                          alt="Avatar">
                        <p>Nome de Usuário</p>
                        <% } %>
      </div>

      <div class="profile-options">
        <a id="btn-01" href="/sacola">Compras</a>
        <a id="btn-02">Favoritos ⭐</a>
        <% if (logado && user.cargo=='admin' ) {%>
          <a id="btn-03" href="/administracao">ADMINISTRADOR</a>
          <% } else {%>
            <a id="btn-03">Reclame Aqui !</a>
            <% } %>
              <a id="btn-04" href="/reserva">Reserva</a>
              <a href="/deslogar" id="btn-05">Sair <i class="fa-solid fa-right-from-bracket"></i></a>
      </div>
    </div>
  </div>

  <main class="main-container">
    <section class="container-info">
      <section class="info-home">
        <p><span style="color: #EBA742;">Estação do Sabor.</span> Pratos diversificados <br> e drinks personalizados.
        </p>
        <button id="btnHorarios">Horários de funcionamento</button>

        <!-- Fundo escurecido -->
        <div id="overlay"></div>

        <!-- Card flutuante com os horários -->
        <div id="cardHorarios" class="fade-in">
          <h2>Horários de Funcionamento</h2>
          <ul>
            <li>Segunda, Terça e Quarta: 08:00 às 22:00</li>
            <li>Quinta e Sexta: 10:00 às 23:00</li>
            <li>Sábado e Domingo: 11:00 às 23:00</li>
          </ul>
          <button class="close-btn">Fechar</button>
        </div>
      </section>
    </section>

    <section class="container-ptdia">
      <section>
        <h1>Pratos do dia</h1>
      </section>

      <section class="organzando-caixa">

        <% pratos.slice(0, 4).forEach(prato=> { %>
          <form action="/avaliar/<%= prato.id %>" method="POST">
            <section class="caixa" id="<%= prato.id %>">
              <div class="caixa-img">
                <img src="<%= prato.imagem %>">
              </div>

              <div class="caixa-info">
                <p>
                  <%= prato.nome %>
                </p>
                <small>
                  <%= prato.descricao %>
                </small>
                <span>R$ <%= prato.preco %></span>
              </div>

              <div class="avaliacao-container">
                <div class="avaliacao">
                  <% for (let i=5; i>= 1; i--) { %>
                    <input value="<%= i %>" type="radio" name="avaliar" id="star<%= i %>-<%= prato.id %>"
                      <%=prato.userAvaliacao===i ? 'checked' : '' %>>
                    <label for="star<%= i %>-<%= prato.id %>"><i class="fa-solid fa-star"></i></label>
                    <% } %>
                </div>
          </form>

          <div class="btn-adicionar">
            
            <a onclick='adicionarPrato( <%= JSON.stringify(prato) %> )'>Adicionar</a>
          </div>
          </div>
      </section>
      <% }); %>


    </section>
    </section>

    <section class="container-menu">
      <section class="menu">
        <a href="/menu">MENU</a>
      </section>

      <section class="menu-image">
      </section>
    </section>

    <section class="container-eventos">
      <section>
        <h1>Eventos</h1>
      </section>
      <section class="container-card">

        <% eventos.sort((a, b)=> new Date(a.data) - new Date(b.data)); %>
          <% eventos.slice(0, 4).forEach(evento=> { %>

            <section class="eventos-card">
              <div class="evento-info">
                <p>
                  <%= evento.nome %>
                </p>
                <div>
                  <span><i class="fa-solid fa-calendar-days"></i>
                    <%= evento.data.toLocaleDateString('pt-BR') %>
                  </span>
                  <span><i class="fa-solid fa-clock"></i>
                    <%= evento.local %>
                  </span>
                </div>
              </div>
              <div class="evento-img">
                <img src="images/background/imageEvento.png">
              </div>
            </section>
            <% }); %>


      </section>
    </section>

  </main>

  <footer class="footer-container">
    <section class="container-social">
      <p class="informacao"><i class="fa-solid fa-phone"></i> + 055 16 99625-6589</p>
      <p class="informacao"><i class="fa-solid fa-location-dot"></i> Av.Brasil - Centro - 452 </p>
    </section>

    <section class="container-redes">
      <div class="redes-sociais">
        <i class="fa-brands fa-facebook"></i>
        <i class="fa-brands fa-instagram"></i>
        <i class="fa-brands fa-twitter"></i>
      </div>
      <p class="Master">Master<small>CheddOficial</small></p>
    </section>
  </footer>

  <script>

    // Função para abrir e fechar o menu no mobile
    const menuToggle = document.querySelector('.menu-toggle');
    const mobileNavList = document.querySelector('.mobile-nav-list');

    menuToggle.addEventListener('click', () => {
      mobileNavList.classList.toggle('active');
    });

    const btnHorarios = document.getElementById('btnHorarios');
    const cardHorarios = document.getElementById('cardHorarios');
    const overlay = document.getElementById('overlay');
    const closeBtn = document.querySelector('.close-btn');

    // Função para abrir o card
    btnHorarios.addEventListener('click', function () {
      cardHorarios.style.display = 'block';
      overlay.style.display = 'block';
    });

    // Função para fechar o card
    closeBtn.addEventListener('click', function () {
      cardHorarios.style.display = 'none';
      overlay.style.display = 'none';
    });

    // Fecha o card se clicar no overlay
    overlay.addEventListener('click', function () {
      cardHorarios.style.display = 'none';
      overlay.style.display = 'none';
    });

    function togglePopup() {
      const popup = document.getElementById("profilePopup");
      popup.style.display = popup.style.display === "block" ? "none" : "block";
    }

    function adicionarPrato(prato) {
      const pratosStorage = JSON.parse(localStorage.getItem('pratos')) || [];

      const pratoVerificado = pratosStorage.some(pratoStorago => pratoStorago.id === prato.id)

      if (!pratoVerificado) {
        pratosStorage.push(prato);
        localStorage.setItem('pratos', JSON.stringify(pratosStorage));
      }

      console.log('Pratos:', pratosStorage)

    }
  </script>
</body>

</html>