<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link
    href="https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap"
    rel="stylesheet">
  <link href="https://fonts.googleapis.com/css2?family=Kelly+Slab&display=swap" rel="stylesheet">
  <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.0/css/all.min.css" rel="stylesheet">

  <link rel="stylesheet" href="styles/menu-styles/menu-mobile.css">
   <link rel="stylesheet" href="styles/menu-styles/menu-tablet.css">
  <link rel="stylesheet" href="styles/menu-styles/menu-desk.css">


  <link rel="icon" href="images/icons/iconHomePage.ico" type="image/x-icon">
  <title>Menu MasterChedd</title>
</head>

<body>

  <header class="header-container">
    <section class="logo">
      <span style="color: #EBA742;">Master</span>Chedd
    </section>

    <!-- Menu de navegação para dispositivos móveis -->
    <div class="menu-mobile" id="mobile-menu">
     <button class="menu-toggle"><i class="fa fa-bars"></i></button> <!-- Botão de menu sanduíche -->
      <ul class="mobile-nav-list">
        <!-- <li><a href="/reserva"><i class="fa-solid fa-caret-right"></i> Fazer reserva</a></li> -->
        <li><a href="/encomenda"><i class="fa-solid fa-caret-right"></i> Encomenda</i></a></li>
        <li><a href="/login"><i class="fa-solid fa-caret-right"></i> login</a></li>
      </ul>
    </div>

    <!-- Menu de navegação para tablets e desktops -->
    <section class="nav-bar">
      <a href="/reserva">Fazer reserva</a>
      <a href="/encomenda"><i class="fa-solid fa-bag-shopping"></i></a>
      <a href="/login">login</a>
    </section>
  </header>

  <main>
    <section class="container-menu">
      <section class="header-menu">
        <p>Bebidas</p>
        <hr>
      </section>

      <section class="container-itens">

        <% pratos.slice(0, 4).forEach(prato=> { %>
          <form action="/avaliar/<%= prato.id %>" method="POST">
            <section class="caixa" id="<%= prato.id %>">
              <div class="caixa-img">
                <img src="<%= prato.imagem %>">
              </div>

              <div class="caixa-info">
                <p>
                  <%= prato.nome %>
                </p>
                <small>
                  <%= prato.descricao %>
                </small>
                <span>R$ <%= prato.preco %></span>
              </div>

              <div class="avaliacao-container">
                <div class="avaliacao">
                  <% for (let i=5; i>= 1; i--) { %>
                    <input value="<%= i %>" type="radio" name="avaliar" id="star<%= i %>-<%= prato.id %>"
                      <%=prato.userAvaliacao===i ? 'checked' : '' %>>
                    <label for="star<%= i %>-<%= prato.id %>"><i class="fa-solid fa-star"></i></label>
                    <% } %>
                </div>
          </form>

          <div class="btn-adicionar">
            <button>Adicionar</button>
          </div>
          </div>
      </section>
      <% }); %>
      </section>

    </section>
    
    



    <section class="container-menu">
      <section class="header-menu">
        <p>Comida japones</p>
        <hr>
      </section>

      <section class="container-itens">

        <% pratos.slice(0, 4).forEach(prato=> { %>
          <form action="/avaliar/<%= prato.id %>" method="POST">
            <section class="caixa" id="<%= prato.id %>">
              <div class="caixa-img">
                <img src="<%= prato.imagem %>">
              </div>

              <div class="caixa-info">
                <p>
                  <%= prato.nome %>
                </p>
                <small>
                  <%= prato.descricao %>
                </small>
                <span>R$ <%= prato.preco %></span>
              </div>

              <div class="avaliacao-container">
                <div class="avaliacao">
                  <% for (let i=5; i>= 1; i--) { %>
                    <input value="<%= i %>" type="radio" name="avaliar" id="star<%= i %>-<%= prato.id %>"
                      <%=prato.userAvaliacao===i ? 'checked' : '' %>>
                    <label for="star<%= i %>-<%= prato.id %>"><i class="fa-solid fa-star"></i></label>
                    <% } %>
                </div>
          </form>

          <div class="btn-adicionar">
            <button>Adicionar</button>
          </div>
          </div>
      </section>
      <% }); %>

      </section>

    </section>

  


    <section class="container-menu">
      <section class="header-menu">
        <p>Hamburguer</p>
        <hr>
      </section>

      <section class="container-itens">

        <% pratos.slice(0, 4).forEach(prato=> { %>
          <form action="/avaliar/<%= prato.id %>" method="POST">
            <section class="caixa" id="<%= prato.id %>">
              <div class="caixa-img">
                <img src="<%= prato.imagem %>">
              </div>

              <div class="caixa-info">
                <p>
                  <%= prato.nome %>
                </p>
                <small>
                  <%= prato.descricao %>
                </small>
                <span>R$ <%= prato.preco %></span>
              </div>

              <div class="avaliacao-container">
                <div class="avaliacao">
                  <% for (let i=5; i>= 1; i--) { %>
                    <input value="<%= i %>" type="radio" name="avaliar" id="star<%= i %>-<%= prato.id %>"
                      <%=prato.userAvaliacao===i ? 'checked' : '' %>>
                    <label for="star<%= i %>-<%= prato.id %>"><i class="fa-solid fa-star"></i></label>
                    <% } %>
                </div>
          </form>

          <div class="btn-adicionar">
            <button>Adicionar</button>
          </div>
          </div>
      </section>
      <% }); %>

      </section>

    </section>



    <section class="container-menu">
      <section class="header-menu">
        <p>Risoto</p>
        <hr>
      </section>

      <section class="container-itens">

        <% pratos.slice(0, 4).forEach(prato=> { %>
          <form action="/avaliar/<%= prato.id %>" method="POST">
            <section class="caixa" id="<%= prato.id %>">
              <div class="caixa-img">
                <img src="<%= prato.imagem %>">
              </div>

              <div class="caixa-info">
                <p>
                  <%= prato.nome %>
                </p>
                <small>
                  <%= prato.descricao %>
                </small>
                <span>R$ <%= prato.preco %></span>
              </div>

              <div class="avaliacao-container">
                <div class="avaliacao">
                  <% for (let i=5; i>= 1; i--) { %>
                    <input value="<%= i %>" type="radio" name="avaliar" id="star<%= i %>-<%= prato.id %>"
                      <%=prato.userAvaliacao===i ? 'checked' : '' %>>
                    <label for="star<%= i %>-<%= prato.id %>"><i class="fa-solid fa-star"></i></label>
                    <% } %>
                </div>
          </form>

          <div class="btn-adicionar">
            <button>Adicionar</button>
          </div>
          </div>
      </section>
      <% }); %>
      </section>

    </section>


    <section class="container-menu">
      <section class="header-menu">
        <p>Saladas</p>
        <hr>
      </section>

      <section class="container-itens">

        <% pratos.slice(0, 4).forEach(prato=> { %>
          <form action="/avaliar/<%= prato.id %>" method="POST">
            <section class="caixa" id="<%= prato.id %>">
              <div class="caixa-img">
                <img src="<%= prato.imagem %>">
              </div>

              <div class="caixa-info">
                <p>
                  <%= prato.nome %>
                </p>
                <small>
                  <%= prato.descricao %>
                </small>
                <span>R$ <%= prato.preco %></span>
              </div>

              <div class="avaliacao-container">
                <div class="avaliacao">
                  <% for (let i=5; i>= 1; i--) { %>
                    <input value="<%= i %>" type="radio" name="avaliar" id="star<%= i %>-<%= prato.id %>"
                      <%=prato.userAvaliacao===i ? 'checked' : '' %>>
                    <label for="star<%= i %>-<%= prato.id %>"><i class="fa-solid fa-star"></i></label>
                    <% } %>
                </div>
          </form>

          <div class="btn-adicionar">
            <button>Adicionar</button>
          </div>
          </div>
      </section>
      <% }); %>

      </section>

    </section>



    <section class="container-menu">
      <section class="header-menu">
        <p>Sobremesas</p>
        <hr>
      </section>

      <section class="container-itens">

        <% pratos.slice(0, 4).forEach(prato=> { %>
          <form action="/avaliar/<%= prato.id %>" method="POST">
            <section class="caixa" id="<%= prato.id %>">
              <div class="caixa-img">
                <img src="<%= prato.imagem %>">
              </div>

              <div class="caixa-info">
                <p>
                  <%= prato.nome %>
                </p>
                <small>
                  <%= prato.descricao %>
                </small>
                <span>R$ <%= prato.preco %></span>
              </div>

              <div class="avaliacao-container">
                <div class="avaliacao">
                  <% for (let i=5; i>= 1; i--) { %>
                    <input value="<%= i %>" type="radio" name="avaliar" id="star<%= i %>-<%= prato.id %>"
                      <%=prato.userAvaliacao===i ? 'checked' : '' %>>
                    <label for="star<%= i %>-<%= prato.id %>"><i class="fa-solid fa-star"></i></label>
                    <% } %>
                </div>
          </form>

          <div class="btn-adicionar">
            <button>Adicionar</button>
          </div>
          </div>
      </section>
      <% }); %>


      </section>

    </section>



    <section class="container-menu">
      <section class="header-menu">
        <p>Variedades</p>
        <hr>
      </section>

      <section class="container-itens">

        <% pratos.slice(0, 4).forEach(prato=> { %>
          <form action="/avaliar/<%= prato.id %>" method="POST">
            <section class="caixa" id="<%= prato.id %>">
              <div class="caixa-img">
                <img src="<%= prato.imagem %>">
              </div>

              <div class="caixa-info">
                <p>
                  <%= prato.nome %>
                </p>
                <small>
                  <%= prato.descricao %>
                </small>
                <span>R$ <%= prato.preco %></span>
              </div>

              <div class="avaliacao-container">
                <div class="avaliacao">
                  <% for (let i=5; i>= 1; i--) { %>
                    <input value="<%= i %>" type="radio" name="avaliar" id="star<%= i %>-<%= prato.id %>"
                      <%=prato.userAvaliacao===i ? 'checked' : '' %>>
                    <label for="star<%= i %>-<%= prato.id %>"><i class="fa-solid fa-star"></i></label>
                    <% } %>
                </div>
          </form>

          <div class="btn-adicionar">
            <button>Adicionar</button>
          </div>
          </div>
      </section>
      <% }); %>

      </section>

    </section>

    

  </main>
  <script>
    // Função para abrir e fechar o menu no mobile
    const menuToggle = document.querySelector('.menu-toggle');
    const mobileNavList = document.querySelector('.mobile-nav-list');

    menuToggle.addEventListener('click', () => {
      mobileNavList.classList.toggle('active');
    });

    const btnHorarios = document.getElementById('btnHorarios');
    const cardHorarios = document.getElementById('cardHorarios');
    const overlay = document.getElementById('overlay');
    const closeBtn = document.querySelector('.close-btn');

    // Função para abrir o card
    btnHorarios.addEventListener('click', function () {
      cardHorarios.style.display = 'block';
      overlay.style.display = 'block';
    });

    // Função para fechar o card
    closeBtn.addEventListener('click', function () {
      cardHorarios.style.display = 'none';
      overlay.style.display = 'none';
    });

    // Fecha o card se clicar no overlay
    overlay.addEventListener('click', function () {
      cardHorarios.style.display = 'none';
      overlay.style.display = 'none';
    });
  </script>
</body>

</html>